@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.note.stage {
    max-width: 1000px;
}

.note.stage img {
    width : 100%;
    border-radius : calc(0.375rem - 1px);
    border : black 1px solid;
    box-shadow: 5px 5px black;
}

.note.stage h1 {
    margin-top: 60px;
    font-weight: bold;
    font-size: 36pt;
}

.note.stage h2 {
    margin-top: 40px;
    font-weight: bold;
    font-size: 24pt;
}

.note.stage h3 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18pt;
}

.note.stage p {
    font-size: 14pt;
    text-align: justify;
}

pre {
    background-color: rgb(56, 56, 56);
    color : rgb(241, 241, 241);
    border : black 1px solid;
    padding : 10px;
    margin : 30px 0;
    font-weight: 500;
    border-radius: calc(0.375rem - 1px);
    font-size: 13pt;
    font-family: 'Jetbrains Mono';
}