:root {
  --wt-bg : white;
  --wt-scbg : #e7ecf0;
  --wt-fg : #1f1f1f;
}

body{
  background-color: var(--primary-bg);
  color: var(--wt-fg
  );
  display: flex;
  justify-content: center;
}

.app_stage{
  width: 1000px;
}

.content {
  margin-left: 1.1em;
}

.content ul {
  list-style-type: '+ ';
}

.btn {
  border: var(--wt-fg) solid 1px;
  background-color: var(--wt-scbg);
  font-weight: bold;
}

.btn:hover{
  background-color: var(--wt-fg);
  color: var(--wt-scbg);
}

.btn:active{
  border: transparent solid 1px!important;
}

.navbar.bottom{
  border-bottom : 0;
  border : var(--wt-fg) solid 1px!important;
  border-radius : calc(0.375rem - 1px);
  margin-bottom: 25px;
}

.navbar {
  background-color: var(--wt-scbg);
  border: var(--wt-fg) solid 1px;
  border-top: 0!important;
  border-bottom-left-radius: calc(0.375rem - 1px);
  border-bottom-right-radius: calc(0.375rem - 1px);
}

.card {
  box-shadow: 5px 5px var(--wt-fg);
  border: var(--wt-fg) solid 1px;
}

.card-header {
  border-bottom: var(--wt-fg) solid 1px;
  font-weight: bold;
  background-color: var(--wt-scbg);
}

.content-title {
  color: #313131;
}

.card-body .img {
  width: 100%;
  height: auto;
}

table {
  border-radius : 100px;
}

th, th[scope="col"]{
  font-weight : bold;
  border : solid 1px var(--wt-fg);
  padding : 5px;
  background-color : var(--wt-scbg);
}

td, td[scope="row"]{
  padding : 5px;
  border : dotted 1px var(--wt-fg);
}

a {
  color : black;
}

a:hover {
  color : rgba(0,0,0,.5)
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top : 57px!important;
}

.stage {
  flex: 1;
}

/*** for notes list ***/
.notes-list-item {
  display: flex;
  justify-content: space-between;
}